In [2]:
import pandas as pd
df = pd.read_csv('allBuffer.csv', encoding='latin')
df.head()

C:\Users\pramud.k\AppData\Local\Temp\ipykernel_14704\494838951.py:2: DtypeWarning: Columns (0,4,7,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('allBuffer.csv', encoding='latin')

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity
0,2,KADAWATHA SC,A,AAC,NaN,Accessories,A0ACJW,NaN,ACJW48428,NECKLACE SET 29,2011-03-30,NaN,0.0,0.0,1.0,0.0
1,2,KADAWATHA SC,A,AAC,NaN,Accessories,A0ACRP,NaN,AWACPW45946,"WRAPPING PAPERS (SILVER,GOLD )",2011-03-30,NaN,0.0,0.0,1.0,0.0
2,2,KADAWATHA SC,A,AAC,NaN,Accessories,A0ACSO,NaN,ACSO46355,GENTS SOCKS,2011-03-30,NaN,0.0,0.0,1.0,0.0
3,2,KADAWATHA SC,A,ACW,NaN,Children Wear,A0CWGW,NaN,CWGW44917,GILRS T SHIRT LITTLE MOVER,2011-03-30,NaN,0.0,0.0,1.0,0.0
4,2,KADAWATHA SC,A,ACW,NaN,Children Wear,A0CWGW,NaN,CWGW46736,GIRLS T SHIRT MOON FLOWER ART,2011-03-30,NaN,0.0,0.0,1.0,0.0

In [3]:
df.dtypes()

TypeError: 'Series' object is not callable

In [4]:
df2 = df.loc[df['Item_Facing'] != 'Item_Facing']
df2.tail()

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity
4142354,79,Kalutara Super Stores,F,FGR,NaN,Grocery,S0ZZZZ,57755.0,VGVV57755,HASANGA WAMBOTU MOJU 150G,2014-10-01,NaN,0.0,0.0,1.0,0.0
4142355,79,Kalutara Super Stores,F,FGR,NaN,Grocery,S0ZZZZ,79869.0,VGVV79869,CLASSIC COLESLAW 1KG,2011-12-12,NaN,0.0,0.0,1.0,0.0
4142356,79,Kalutara Super Stores,Z,Z99,NaN,Service Items,SEITM,999888.0,CCEASYPAY,CREDIT CARD EASY PAYMENT,2017-10-23,NaN,0.0,0.0,0.0,0.0
4142357,79,Kalutara Super Stores,Z,Z99,NaN,Service Items,SEITM,999889.0,CCOTHPAY,NON CREDIT CARD PAYMENT,2017-10-23,NaN,0.0,0.0,0.0,0.0
4142358,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df3 = df2.drop([4142358])
df3.tail()

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity
4142353,79,Kalutara Super Stores,F,FGR,NaN,Grocery,S0ZZZZ,7305.0,VGUV7305,ORINMA ABLONE MUSHROOM 200G,2011-12-12,NaN,0.0,0.0,1.0,0.0
4142354,79,Kalutara Super Stores,F,FGR,NaN,Grocery,S0ZZZZ,57755.0,VGVV57755,HASANGA WAMBOTU MOJU 150G,2014-10-01,NaN,0.0,0.0,1.0,0.0
4142355,79,Kalutara Super Stores,F,FGR,NaN,Grocery,S0ZZZZ,79869.0,VGVV79869,CLASSIC COLESLAW 1KG,2011-12-12,NaN,0.0,0.0,1.0,0.0
4142356,79,Kalutara Super Stores,Z,Z99,NaN,Service Items,SEITM,999888.0,CCEASYPAY,CREDIT CARD EASY PAYMENT,2017-10-23,NaN,0.0,0.0,0.0,0.0
4142357,79,Kalutara Super Stores,Z,Z99,NaN,Service Items,SEITM,999889.0,CCOTHPAY,NON CREDIT CARD PAYMENT,2017-10-23,NaN,0.0,0.0,0.0,0.0

In [6]:
df3.catgry = df3.catgry.fillna('')
df3.plu_code = df3.plu_code.fillna('')
df3.Avg_7Day_sales = df3.Avg_7Day_sales.fillna(0)
df3.Item_Facing = df3.Item_Facing.fillna(0)
df3.Gondola_Stock = df3.Gondola_Stock.fillna(0)
df3.On_Hand_Quantity = df3.On_Hand_Quantity.fillna(0)
df3.UNITISE_PACK = df3.UNITISE_PACK.fillna(0)
df3.tail()

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity
4142353,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,7305.0,VGUV7305,ORINMA ABLONE MUSHROOM 200G,2011-12-12,0,0.0,0.0,1.0,0.0
4142354,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,57755.0,VGVV57755,HASANGA WAMBOTU MOJU 150G,2014-10-01,0,0.0,0.0,1.0,0.0
4142355,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,79869.0,VGVV79869,CLASSIC COLESLAW 1KG,2011-12-12,0,0.0,0.0,1.0,0.0
4142356,79,Kalutara Super Stores,Z,Z99,,Service Items,SEITM,999888.0,CCEASYPAY,CREDIT CARD EASY PAYMENT,2017-10-23,0,0.0,0.0,0.0,0.0
4142357,79,Kalutara Super Stores,Z,Z99,,Service Items,SEITM,999889.0,CCOTHPAY,NON CREDIT CARD PAYMENT,2017-10-23,0,0.0,0.0,0.0,0.0

In [7]:
df3['Avg_7Day_sales'] = df3['Avg_7Day_sales'].astype(float)
df3['Item_Facing'] = df3['Item_Facing'].astype(float)
df3['Gondola_Stock'] = df3['Gondola_Stock'].astype(float)
df3['UNITISE_PACK'] = df3['UNITISE_PACK'].astype(float)
df3['On_Hand_Quantity'] = df3['On_Hand_Quantity'].astype(float)
df3.tail()

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity
4142353,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,7305.0,VGUV7305,ORINMA ABLONE MUSHROOM 200G,2011-12-12,0.0,0.0,0.0,1.0,0.0
4142354,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,57755.0,VGVV57755,HASANGA WAMBOTU MOJU 150G,2014-10-01,0.0,0.0,0.0,1.0,0.0
4142355,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,79869.0,VGVV79869,CLASSIC COLESLAW 1KG,2011-12-12,0.0,0.0,0.0,1.0,0.0
4142356,79,Kalutara Super Stores,Z,Z99,,Service Items,SEITM,999888.0,CCEASYPAY,CREDIT CARD EASY PAYMENT,2017-10-23,0.0,0.0,0.0,0.0,0.0
4142357,79,Kalutara Super Stores,Z,Z99,,Service Items,SEITM,999889.0,CCOTHPAY,NON CREDIT CARD PAYMENT,2017-10-23,0.0,0.0,0.0,0.0,0.0

In [8]:
df3['total_buffer'] = df3['Item_Facing']+ df3['Gondola_Stock']
df3.tail()

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity,total_buffer
4142353,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,7305.0,VGUV7305,ORINMA ABLONE MUSHROOM 200G,2011-12-12,0.0,0.0,0.0,1.0,0.0,0.0
4142354,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,57755.0,VGVV57755,HASANGA WAMBOTU MOJU 150G,2014-10-01,0.0,0.0,0.0,1.0,0.0,0.0
4142355,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,79869.0,VGVV79869,CLASSIC COLESLAW 1KG,2011-12-12,0.0,0.0,0.0,1.0,0.0,0.0
4142356,79,Kalutara Super Stores,Z,Z99,,Service Items,SEITM,999888.0,CCEASYPAY,CREDIT CARD EASY PAYMENT,2017-10-23,0.0,0.0,0.0,0.0,0.0,0.0
4142357,79,Kalutara Super Stores,Z,Z99,,Service Items,SEITM,999889.0,CCOTHPAY,NON CREDIT CARD PAYMENT,2017-10-23,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
fdf = df3.loc[(df3['total_buffer'] > 0) | (df3['Avg_7Day_sales'] > 0)]
fdf.tail()

,loc_code,loc_name,main,grpct1,catgry,catdes,itm_group,plu_code,item_code,Item_Description,cre_date,Avg_7Day_sales,Item_Facing,Gondola_Stock,UNITISE_PACK,On_Hand_Quantity,total_buffer
4142098,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,817501.0,PRHH817501,NYLE B/LOT+F/WASH ROSE 100ML,2011-12-12,0.0,2.0,0.0,1.0,0.0,2.0
4142117,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,822618.0,PRHH822618,LUX PURPLE LOTUS D/PACK,2021-09-21,0.0,144.0,0.0,144.0,0.0,144.0
4142126,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,825347.0,PRHH825347,LUX STRW&CREAM D/PACK,2012-09-13,0.0,144.0,0.0,144.0,0.0,144.0
4142129,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,825351.0,PRHH825351,VIM LIQUID 500ML 2S + FR LIQUI,2012-09-13,0.0,24.0,0.0,24.0,0.0,24.0
4142131,79,Kalutara Super Stores,F,FGR,,Grocery,S0ZZZZ,825834.0,PRHH825834,LIFEBUOY H/WASH 200ML+180ML CA,2021-09-21,0.0,36.0,0.0,36.0,0.0,36.0

In [10]:
print(fdf)

        loc_code               loc_name main grpct1 catgry      catdes  \
1047           2           KADAWATHA SC    D    D04         Dry Rubber
1048           2           KADAWATHA SC    D    D04         Dry Rubber
1049           2           KADAWATHA SC    D    D04         Dry Rubber
1050           2           KADAWATHA SC    D    D04         Dry Rubber
1051           2           KADAWATHA SC    D    D04         Dry Rubber
...          ...                    ...  ...    ...    ...         ...
4142098       79  Kalutara Super Stores    F    FGR            Grocery
4142117       79  Kalutara Super Stores    F    FGR            Grocery
4142126       79  Kalutara Super Stores    F    FGR            Grocery
4142129       79  Kalutara Super Stores    F    FGR            Grocery
4142131       79  Kalutara Super Stores    F    FGR            Grocery

        itm_group  plu_code   item_code                Item_Description  \
1047       CONS04    779857  LPRP-BMBMT         FABRIC BAMBIE MAT-BMBMT
1048       CONS04    833684   LPRP-DFML     DESIGNER FABRIC MAT - LARGE
1049       CONS04    837636   LPRP-DFMS     DESIGNER FABRIC MAT - SMALL
1050       CONS04    832063    LPRP-FML              FABRIC MAT - LARGE
1051       CONS04    830390    LPRP-FMS              FABRIC MAT - SMALL
...           ...       ...         ...                             ...
4142098    S0ZZZZ  817501.0  PRHH817501    NYLE B/LOT+F/WASH ROSE 100ML
4142117    S0ZZZZ  822618.0  PRHH822618         LUX PURPLE LOTUS D/PACK
4142126    S0ZZZZ  825347.0  PRHH825347           LUX STRW&CREAM D/PACK
4142129    S0ZZZZ  825351.0  PRHH825351  VIM LIQUID 500ML 2S + FR LIQUI
4142131    S0ZZZZ  825834.0  PRHH825834  LIFEBUOY H/WASH 200ML+180ML CA

           cre_date  Avg_7Day_sales  Item_Facing  Gondola_Stock  UNITISE_PACK  \
1047     2016-01-12             0.0          6.0            0.0           1.0
1048     2014-02-01             0.0          6.0            0.0           1.0
1049     2014-02-01             0.0          6.0            0.0           1.0
1050     2014-02-01             1.0          6.0            0.0           5.0
1051     2014-02-01             1.0          6.0            0.0           5.0
...             ...             ...          ...            ...           ...
4142098  2011-12-12             0.0          2.0            0.0           1.0
4142117  2021-09-21             0.0        144.0            0.0         144.0
4142126  2012-09-13             0.0        144.0            0.0         144.0
4142129  2012-09-13             0.0         24.0            0.0          24.0
4142131  2021-09-21             0.0         36.0            0.0          36.0

         On_Hand_Quantity  total_buffer
1047                  1.0           6.0
1048                  0.0           6.0
1049                  0.0           6.0
1050                  3.0           6.0
1051                  6.0           6.0
...                   ...           ...
4142098               0.0           2.0
4142117               0.0         144.0
4142126               0.0         144.0
4142129               0.0          24.0
4142131               0.0          36.0

[706536 rows x 17 columns]

In [11]:
fdf.to_csv('fillteredBuffer31stJan.csv', index=False)

In [12]:
exit()